<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>Admin Dashboard</h1>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    
});
</script>

<body>
    <table>
        <tr>
            <td>
                <button onclick="location.href += '/addemp'">Add Employee</button>
            </td>
            <td>
                <button onclick="location.href += '/allemplist'">All Emnployee List</button>
            </td>
        </tr>
    </table>
    <div>
        <ul>
            <li>
                Total Users: <%= userCount %> 
            </li>
            <li>
                Total Employees: <%= empCount %> 
            </li>
        </ul>
    </div>
</body>
</html>