<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>Employee Dashboard</h1>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    
});
</script>

<body>
    <table>
        <tr>
            <td>
                <button onclick="location.href += '/myprofile'">My Profile</button>
            </td>
            <td>
                <button onclick="location.href += '/update'">Update Profile</button>
            </td>
        </tr>
    </table>
</body>
</html>